
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment_5</title>
  <!-- 这个 url_for 会被 Flask 渲染成 /static/root.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='root.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
</head>
<body>
  <h1>Assignment_3</h1>
  <pre><code class="language-python">import os, time

TOP_BLOCK    = chr(9600)  # '▀'
BOTTOM_BLOCK = chr(9604)  # '▄'
FULL_BLOCK   = chr(9608)  # '█'

DELAY = 0.05

FUNC1 = eval('lambda x, y: (x & y) & (x ^ y) % 19')
FUNC2 = eval('lambda i, j: (i | j) % 50')

y1 = 0
y2 = 0

while True:
   
    totalWidth = os.get_terminal_size()[0]
    

    width1 = int(totalWidth * 0.5)
    width2 = totalWidth - width1
    

    part1_chars = []
    for x in range(width1):
        topBit = FUNC1(x, y1)
        bottomBit = FUNC1(x, y1 + 1)

        topBit = not topBit
        bottomBit = not bottomBit

        if topBit and bottomBit:
            part1_chars.append(FULL_BLOCK)
        elif topBit and not bottomBit:
            part1_chars.append(TOP_BLOCK)
        elif not topBit and bottomBit:
            part1_chars.append(BOTTOM_BLOCK)
        else:
            part1_chars.append(' ')
  
    part1_str = ''.join(part1_chars)

    part2_chars = []
    for i in range(width2):
        topBit = FUNC2(i, y2)
        bottomBit = FUNC2(i, y2 + 1)

        topBit = not topBit
        bottomBit = not bottomBit

        if topBit and bottomBit:
            part2_chars.append(FULL_BLOCK)
        elif topBit and not bottomBit:
            part2_chars.append(TOP_BLOCK)
        elif not topBit and bottomBit:
            part2_chars.append(BOTTOM_BLOCK)
        else:
            part2_chars.append(' ')
 
    part2_str = ''.join(part2_chars)

    print(part1_str + part2_str, flush=True)

    y1 += 2
    y2 += 4 

    time.sleep(DELAY)

</code></pre>
  <p><a href="index.html">← Back to Portfolio</a></p>
</body>
</html>