<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MY PORTFOLIO Ursula Shuixin Wang
  </title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="header">
    <h1>CREATIVE PYTHON PORTFOLIO</h1>
    <h3>Ursula Shuixin Wang</h3>
  </div>

  <div class="portfolio">
    {% for name in assignments %}
    <div class="portfolio-item" style="background:#888;">
      <!-- 链接到 Flask 动态路由 /view/filename -->
      <a href="{{ url_for('view', filename=name) }}">
        
        <h3>{{ name[:-3] }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>
</body>
</html>
